.card {
    width: 600px;
    height: 600px;
    border-radius: 5rem;
    padding: 2.5rem;
    margin: 2rem 0rem 2rem 0rem;
    overflow: none;
}

.title {
    font-size: 4em;
    letter-spacing: 0.5rem;
}

.text-content {
    font-size: 1.3em;
}

.submit-button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 2em;
    padding: 1em;
    transition: 
    background-color 0.4s,
    color 1s;
}

.submit-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(97, 255, 181, 1);
}

.submit-button:active {
    background-color: rgb(0, 218, 116);
}

.submit-container {
  display: flex;
  justify-content: center;
  margin: 1em 0em 0.8em 0em;
}

.form-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-items > .submit-button {
    justify-content: center;
}

.logo-picture {
   width: 3rem;
   height: 2.7rem;
}

.logos {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.logos > * {
    margin: 1em 1em 0em 1em
}

.headshot {
    width: 15rem;
    height: 15rem;
}

.text-picture {
    display: flex;
    flex-direction: row;
}