textarea {
    font-family: Jost, system-ui;
    resize: none;
    border-radius: 20px;
    padding-left: 10px;
}

label,input {
  display:flex;
  flex-direction:column;
}

input {
    border-radius: 15px;
    padding: 10px;
}

.card {
    width: 600px;
    height: 600px;
    border-radius: 5rem;
    padding: 2.5rem;
    margin: 2rem 0rem 2rem 0rem;
}

.title {
    font-size: 4em;
    letter-spacing: 0.5rem;
}

.text-content {
    font-size: 1.3em;
}

.submit-button {
    cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin: 1em 0em 1em 0em;
}

.form-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.form-items > .submit-button {
    justify-content: center;
}


.logo-picture {
   width: 40px;
   height: 35px;
}

.logo-picture:hover{
    border-radius: 100%;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}

.logos {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.logos > * {
    margin: 0em 0.5em 0em 0.5em
}