.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #2A0355;
  overflow: hidden;
  cursor: grab;
}

.custom-icon {
  font-family: FiraMono Nerd Font, monospace;
  cursor: pointer;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-item.round {
  background-color: #0D0716;
  position: relative;
  bottom: .1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #333333;
}

.carousel-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.carousel-item-header {
  padding: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 52px;
  width: 52px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.carousel-icon {
  height: 50px;
  width: 50px;
  color: #060010;
}

.carousel-item-content {
  padding: 0px 20px 20px 20px ;
}

.carousel-item-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.carousel-item-description {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.carousel-item-coding-language {
  /* border: 1px solid white; */
  font-size: 14px;
  background-color: white; 
  color: black;
  border-radius: 30px;
  padding: 0 3px 0 6px;
  margin-right: 4px
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 150ms;
}

.carousel-indicator.active {
  background-color: #2A0355;
}

.carousel-indicator.inactive {
  background-color: #ffffff;
}