.content-grid {
    display: grid;
    grid-auto-rows: 1fr;
    justify-items: center;
    margin-top: 2em;
    gap: 4em;
    min-height: 100vh; /* weird scaling when zooming out */
}

.icon-sidebar {
    position: fixed;
    top: 2.8rem;
    left: calc(50% - (min(95vw, 670px) / 2) - 0.9em);
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
}

.img-wrapper {

    max-width: 48px;
    display: flex;
    align-items: center;
}