.effect-container {
  position: fixed;
  height: 50%;
  width: 50%;
  z-index: 8;
  display: grid;
  align-items: center;
}

.flash-text {
  color: var(--color-ui-background);
  font-size: min(50vw, 300px);
  margin-inline: auto;
  cursor: default;
  filter: blur(10px);
  animation: onClick 1s forwards;
}

@keyframes onClick {
  from {
    color: var(--color-effect-from);
    filter: blur(0px);
  }
  to {
    color: var(--color-effect-to);
    filter: blur(5px);
  }
}