.language-select-icon {
    background: black;
    width: clamp(1rem, 1rem + 1.8vw, 2rem);
    padding: 5px;
    border-radius: 10px;
}

.language-select-list {
    font-family: Noto Sans JP;
    font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
    background: black;
    padding: 5px;
    border-radius: 10px;
    width: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.languages {
    cursor: pointer;
    position: relative;
    background-color: black;
}

.languages:after {
    content: '';
    height: 1px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: all 0.5s;
}

.languages:hover::after {
    width: 100%
}

.current-language {
    cursor: default;
    pointer-events: none;
    color: black;
    background-color: white;
    border-radius: 20%;
}