.language-select-icon {
  width: 34px;
  height: 34px;
  padding: 2px;
  background-color: var(--color-ui-background);
  color: var(--color-reversed-ui);
  border-radius: 50%;
  cursor: pointer;
}

.language-select-list {
    font-family: Noto Sans JP;
    font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
    background: var(--color-ui-background);
    color: var(--color-reversed-ui);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.languages {
    cursor: pointer;
    position: relative;
    background-color: var(--color-ui-background);
}

.languages:after {
    content: '';
    height: 1px;
    width: 0%;
    background-color: var(--color-reversed-ui);
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: all 0.5s;
}

.languages:hover::after {
    width: 100%
}

.current-language {
    cursor: default;
    pointer-events: none;
    color: var(--color-ui-background);
    background-color: var(--color-reversed-ui);
    border-radius: 20%;
}