.navbar-wrapper {
    font-size: 2rem;
    color: white;
    justify-content: center;
    display: flex;
    padding: 1rem 0rem 0rem 0rem;
    position: sticky;
    top: 0px;
}

.navbar {
    background-color: black;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
}

.category {
    cursor: pointer;
    margin:  0rem 1rem 0rem 1rem;

}

.category:hover {
    color: rgba(255, 255, 255, 0.747);
}