.navbar-wrapper {
    font-size: 2rem;
    color: white;
    justify-content: center;
    display: flex;
    padding: 0.4rem;
    position: sticky;
    top: 0px;
}

.navbar {
    background-color: black;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 5rem;
    word-spacing: 2em;
}