.navbar-wrapper {
    font-size: clamp(1rem, 1rem + 1.8vw, 2rem);
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    padding: 1rem 0rem 0rem 0rem;
    position: sticky;
    z-index: 10;
    top: 0px;
}

.navbar {
    background-color: black;
    padding: 0rem 1.5rem 0rem 1.5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.category {
    cursor: pointer;
    position: relative;
}

.category::after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.5s;
}

.category:hover::after {
    width: 100%
}
