.card {
    max-width: 600px;
    border-radius: 5rem;
    padding: 2.5rem;
    margin: 2rem 0rem 2rem 0rem;
}

.title {
    font-size: 4em;
    letter-spacing: 0.5rem;
}

.text-content {
    font-size: 1.3em;
}
